@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

/* ForĆ§age du format d'affichage de base pour les balises HTML */ 
body{
    padding:0;
    margin:0;
    background: url(../img/plage.jpg) no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

header {
	width:100%;
	position: fixed;
  opacity: 0.9;
	top:0;
	z-index:100;
}

main{
    background-color:rgba(255, 255, 255, .3);
    padding:4rem 0;
    min-height: 100vh;
}

footer{
    background-color:rgb(0, 128, 0);
    position:fixed; 
    width: 100%;
    opacity: 0.9;
    height: 68px;
    bottom: 0;
}

h1{
    font-family: cursive;
    text-align: center;
    color: red;
    font-size: 6em;
    text-shadow: 1px 3px 2px rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

ul{
    padding: 0;
    margin:0;
}

/* Menus tablette ou ordinateur */
.menus1{
    background-color:rgb(0, 128, 0);
    position: fixed;
    height:75px;
    width: 100%;
    opacity: 1;
    top:0;
    font-size: 3.5em;
}

.menus1 li {
	float: right;
    list-style-type: none;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:0 16px;
}

/* Menus smartphones */
.menus2 ul {
	float: right;
    list-style-type: none;
    text-decoration: none;

}

.menus2 {
    background-color:rgb(0, 128, 0);
    position: absolute;
	height:75px;
	right:0;
    width: 100%;
    opacity: 1;
    top:0;
    font-size: 3.5em;
}

.menus2 ul {
	right:0;
	position: absolute;
}
.menus2 label {
	color:rgb(255, 255, 255);
	right:0;
	top:0
}

/* DĆ©roulement du menu smartphone au survol du hamburger */
.menuDeroulant {
	position: absolute;
	top: 70px;
	visibility: hidden;
	display: block;
    min-width: 120px;

    width: auto;
    padding: 0px;
    text-align: left;
    background: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 10px;
    list-style-type: none;	
}

.menuDeroulant li:hover {
	background-color:rgb(0, 200, 0);
}


.menuBurger {
	position:fixed; 
	top: 0;
	right:0;
	cursor:  pointer;
}

.menuDeroulant:hover {
	visibility: visible;
}

/* Autres classes */
.tel {
       float:left;
}

.icons{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255); 
    display:block;
    margin-left: -25%;
}
.icons a{
    margin-left: 25%;
}

.description{
    text-align: center;
    color:rgb(255, 0, 0);
    font-size: 3em;
    text-shadow: 1px 1px 1px black;
    font-style: italic;
    margin:8% 20%;
}

.boutonCommande {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border: .05em solid rgb(128,  64, 64);
    display:flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin: 0% 30%;
    border-radius:25px;
}

.pizza {
   top: 0;
   position:relative;
   margin:auto;
   display:flex;
   height: 72px;
}

.toggle {
  height: 5rem;
  width: 5rem;
  display: none;
}

.toggle div {
  height: 4px;
  width: 100%;
  background-color: white;
  margin: 1rem;
}

/* Responsive design */

@media screen and (min-width: 1300px) {
  .prix {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1150px){
    main h1{
        font-size:300%;
    }
    .description{
        font-size: 2em;
    }
    .boutonCommande{
        font-size: 170%;
        margin:0% 15%;
    }

	.menuBurger {
		visibility: visible;
	}
	.menus1  {
		visibility: hidden;
	}
	.boutonCommande {
		font-size: 2em;
	}

}

@media screen and (min-width: 1151px) {
	.menus2 {
		 visibility: hidden;
	}

	.boutonCommande {
		font-size: 3em;
	}

  .carte {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .menus1 {
    width: 70%;
  }
  /*.menus2 {
    width: 70%;
  }*/
  nav {
    width: 70%;
  }

  .carte {
    max-width: 99vw;
    grid-gap: 0rem;
  }

  .pizzacarte {
    margin:0rem;
  }
}

.carte {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.pizzacarte {
  margin:2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: all .8s ease-in-out;
}

.pizzacarte:hover {
  transform: scale(1.05); 
}

.pizzacarte h2 {
  font-family: cursive;
  text-align: center;
  color: rgb(255, 0, 0);
  text-shadow: 1px 3px 2px rgb(0, 0, 0);
}

.pizzacarte p {
  text-align: center;
}

.imgpizzacarte img {
  height: auto;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
 }

 .btn {
  background-color: rgb(0, 128, 0);
  border: 2px solid red;
  color: red;
  cursor: pointer;
  margin: 2px;
  padding: 1px;
  border-radius: 2px;
}

.btn:hover {
  background-color: rgb(0, 200, 0);
}

.tarifs {
  max-width:50%;
  display: grid;
  margin:0 auto;
  grid-gap:1rem;
  margin-bottom:1rem;
}

.tarifs div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarifs div:nth-child(2n+1) {
  text-align: right;
}

input[type="number"] {
  width:70px;
}


@media screen and (max-width: 600px) {
  .tarifs {
    max-width:95%;
  }

  .pizzacarte {
    margin:0rem;
  }

  .pizzacarte:hover {
    transform: none; 
  }
}

@media screen and (max-width: 500px) {
  .tarifs {
    max-width:100%;
  }
}

@media screen and (max-width: 400px) {

  .tarifs div:nth-child(2n+1) {
    text-align: center;
  }

  .tarifs div {
    text-align: center;
  }
}

@media screen and (min-width: 401px) {
  .tarifs {
    grid-template-columns: repeat(2, 1fr);
  }
}